<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0"/>
    <supportedRuntime version="v4.7.2"/>
  </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="SQLSoap" />
            </basicHttpBinding>
            <customBinding>
                <binding name="SQLSoap12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:51437/SQL.asmx" binding="basicHttpBinding"
                bindingConfiguration="SQLSoap" contract="SQL.SQLSoap" name="SQLSoap" />
            <endpoint address="http://localhost:51437/SQL.asmx" binding="customBinding"
                bindingConfiguration="SQLSoap12" contract="SQL.SQLSoap" name="SQLSoap12" />
        </client>
    </system.serviceModel>
</configuration>